*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #000000;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset{
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

form{
    width: 25%;
}

.div1{
    display: flex;
    flex-direction: column;
}